# Dependencies
node_modules

# Env files
.env*

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
